@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300&display=swap');

html,
body,
#root {
  overflow: hidden;
  height: 100%;
}

#container {
  height: 100%;
}

.intro {
  height: 100vh;
  background-color: #153956;
  transition: transform 1.3s ease-in-out 0.1s;
}

.catch-phrase {
  font-family: 'Lora', serif;
  color: #f07b61;
  height: 50%;
  width: 50%;
  margin: auto;
}

.catch-1 {
  animation: show 1s ease-in 0s 1 normal;
  font-weight: 500;
  font-size: calc(12px + 0.5vw);
}

.catch-2 {
  animation: show 2s ease-in 0s 1 normal;
  font-weight: 600;
  font-size: calc(40px + 1.5vw);
  color: #f5f2e8;
}

.catch-3 {
  animation: show 3s ease-in 0s 1 normal;
  font-weight: 300;
  font-size: calc(20px + 0.5vw);
  letter-spacing: -0.03em;
  color: #f5f2e8;
}

@keyframes show {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.call-to-action {
  font-weight: 00;
  font-size: 1.5rem;
  color: #f07b61;
  animation: show 5.5s ease-in 0s 1 normal;
  stroke: #f07b61;
  cursor: pointer;
  transition: transform 0.4s ease-in-out 0s;
}

.intro svg {
  stroke: #f07b61;
  position: relative;
  animation: arrowDown 1.1s ease-in-out 4.4s infinite alternate,
    show 5.5s ease-in 0s 1 normal;
  cursor: pointer;
  transition: transform 0.4s ease-in-out 0s;
}

.intro svg:hover {
  transform: scale(1.4);
}

@keyframes arrowDown {
  0%,
  5% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

.moveup {
  transform: translate(0, -100vh);
}

section {
  height: 100%;
  overflow-y: scroll;
  transition: transform 1.3s ease-in-out 0.1s;
}

.abstract {
  height: calc(270px + 30vh);
  background: linear-gradient(#4576af, #396ea0);
}

.mission {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vh 18vw 0 18vw;
  font-size: 1.2rem;
  color: #f1f3f4;
  font-family: "Raleway", sans-serif;
}

.qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0 0 0;
}

.qualities svg {
  width: 64px;
  height: 64px;
  fill: #f1f3f4;
  stroke: #f1f3f4;
}

.scalable-fill {
  fill: none;
}

.qualities h5 {
  margin: 3vh 0 0 0;
}

.about {
  display: flex;
  padding: 4%;
  width: 70vw;
  margin: auto;
  color: #f1f3f4;
  font-family: "Raleway", sans-serif;
}

.about h3 {
  font-size: 1.5rem;
  text-align: right;
}

.about p {
  padding-top: 4px;
  font-size: 0.95rem;
  text-align: left;
  padding-left: 3%;
  width: 90%;
  line-height: 1.4em;
}

.skills {
  padding: 0 15% 5% 15%;
  position: relative;
  background-color: #f1f3f4;
}

.skillbox {
  position: relative;
  top: -12vh;
  display: flex;
  justify-content: flex-end;
  background-color: #f1f3f4;
  border-radius: 10px;
  color: #101314;
  box-shadow: 0 5px 5px 0 rgba(207, 222, 228, 0.5), 0 0 0 1px #dfe4f0;
}

.skill-section {
  padding-bottom: calc(15px + 6vh);
  text-align: center;
  border-bottom: 1px solid #d9e2f7;
  font-family: "Raleway", sans-serif;
  flex-grow: 1;
  flex-basis: 0;
}

.skill-first {
  border-right: 1px solid #d9e2f7;
  border-bottom-left-radius: 10px;
}

.skill-center {
  border-right: 1px solid #d9e2f7;
}

.skill-end {
  border-bottom-right-radius: 10px;
}

.skill-top {
  padding: 20% 10% 0% 10%;
  height: 30%;
}

.skill-btm {
  padding: 25% 0 0% 0;
}

.skill-title {
  font-size: 1.3rem;
  padding-bottom: 15%;
}

.skill-top p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.7rem;
}

.skill-btm p {
  color: #396ea0;
  font-weight: 700;
  font-size: 1.2rem;
}

.skill-list {
  list-style: none;
  padding-top: 6%;
  line-height: 4rem;
  font-size: 1rem;
}

.contact {
  background-color: #396ea0;
}

.contact-box {
  position: relative;
  top: -8vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border: 1px solid #1e2426;
  border-radius: 10px;
  width: 68%;
  height: calc(120px + 4vh);
  margin: auto;
  background-color: #1e2426;
  color: #f1f3f4;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 2px 5px 2px #1d4569;
}

.contact-box h2 {
  width: 15%;
}

.contact-box p {
  width: 35%;
}

.contact-box a {
  margin-right: 40px;
  text-decoration: none;
  color: #f1f3f4;
  border: 1px solid #396ea0;
  border-radius: 30px;
  padding: 1vh 1.5vw;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
}

.contact-box a:hover {
  background-color: #396ea0;
}

footer {
  background-color: #396ea0;
}

.link-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 3% 0% 10% 0%;
  text-align: center;
  background-color: #396ea0;
  color: #f1f3f4;
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 30vw 0% 30vw;
}

.links a {
  display: flex;
  border: 1px solid #f1f3f4;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.links a:hover {
  background-color: #f1f3f4;
}

.links a:hover svg {
  fill: #396ea0;
}

.links svg {
  width: 18px;
  height: 18px;
  fill: #f1f3f4;
  transition: 0.3s ease-in-out;
}

.copyright {
  padding: 5vh 0 0 0;
}

.react-credit {
  padding: 5vh 0 0 0;
}

.contact-form {
  background-image: url("contactform.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contact-fields {
  display: grid;
  padding: 1vh 3vw;
  grid-template-columns: 50% 50%;
  width: 40vw;
  min-height: calc(200px + 40vh);
  margin: auto;
}

.contact-fields h2 {
  grid-column: 1 / span 2;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: calc(40px + 1%);
  text-align: center;
  padding-bottom: 5px;
  animation: show 1s ease-in 0s 1 normal;
}

.contact-fields div {
  animation: show 2s ease-in 0s 1 normal, slideUp 2s ease-in 0s 1 normal;
}

@keyframes slideUp {
  from {
    transform: translate(0, 4vh);
  }
  to {
    transform: translate(0, 0);
  }
}

.form-name-field {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  justify-self: start;
  width: 95%;
}

.form-email-field {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: end;
  width: 95%;
}

.form-subject-field {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  justify-self: stretch;
}

.form-message-field {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  justify-self: stretch;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.form-group label {
  padding-bottom: 5px;
}

.form-group input {
  background-color: #e4e9ed;
  border: 1px solid rgba(145, 141, 141, 0.418);
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  padding: 10.2px 15.8px;
  font-size: 1.1rem;
}

.form-group textarea {
  background-color: #e4e9ed;
  grid-row: 5 / span 1;
  border: 1px solid rgba(145, 141, 141, 0.418);
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  padding: 10.2px 15.8px;
  font-size: 1.1rem;
}

.btn {
  grid-column: 1 / span 2;
  margin-top: 22px;
  justify-self: center;
  background-color: #e3e9f0;
  color: #396ea0;
  border: 1px solid #396ea0;
  border-radius: 30px;
  padding: 1vh 3.2vw;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  animation: show 3s ease-in 0s 1 normal;
}

.btn:hover {
  background-color: #396ea0;
  color: #f1f3f4;
  border: 1px solid #f1f3f4;
  transition: 0.3s ease-in-out;
}

.submitHandler {
  grid-column: 1 / span 2;
  grid-row: 6 / span 2;
  background-color: #396ea0;
  border: 1px solid #396ea0;
  border-radius: 3px;
  width: 35%;
  height: 20px;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  color: #f1f3f4;
  opacity: 0;
  transition: opacity 0.3s;
}

.submitFalse {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .abstract {
    height: 85vh;
  }

  .mission {
    display: grid;
    padding: 0 0;
    width: 85%;
    margin: auto;
    grid-template-rows: 18vh 18vh;
    grid-template-columns: 30% 30%;
    font-size: 1.5rem;
    align-items: center;
  }

  .about {
    flex-direction: column;
    padding: 7% 8% 0 8%;
  }

  .about h3 {
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 15px;
    width: 90%;
    padding-left: 30px;
  }

  .about p {
    font-size: 1.2rem;
    padding-top: 1.5vh;
    padding-left: 0px;
    width: 100%;
    text-align: justify;
  }

  .qualities {
    margin: 5vh 0 0 0;
  }

  .qualities h5 {
    margin: 2.5vh 0 0 0;
  }

  .skills {
    padding: 0 10% 5% 10%;
    position: relative;
    background-color: #f1f3f4;
  }

  .skillbox {
    flex-direction: column;
  }

  .skill-section {
    padding-bottom: 0px;
  }

  .skill-top {
    padding: 12% 10% 0% 10%;
    height: 30%;
  }

  .skill-btm {
    padding: 9% 0 7% 0;
  }

  .skill-title {
    padding-bottom: 8%;
    font-size: 1.8rem;
  }

  .skill-top p {
    font-size: 1.3rem;
  }

  .skill-list {
    padding-top: 4%;
    line-height: 2.9rem;
    font-size: 1.3rem;
  }

  .contact-box {
    flex-direction: column;
    width: 80%;
    height: 28vh;
    align-items: center;
  }

  .contact-box h2 {
    width: 95%;
  }
  .contact-box p {
    width: 100%;
  }

  .contact-box a {
    padding: 1.2vh 4vw;
    margin-right: 0;
  }

  .contact-box a:hover {
    background-color: #396ea0;
  }

  .links {
    justify-content: space-around;
    padding: 5vh 20vw 0% 20vw;
  }

  .contact-fields {
    width: 80vw;
    min-height: calc(200px + 45vh);
  }

  .form-group label {
    font-size: 1.4em;
  }

  .form-message-field textarea {
    height: 100%;
  }

  .btn {
    padding: 0vh 6vw;
  }
}

@media only screen and (max-width: 425px) {
  .intro h2 {
    width: 80%;
  }

  .abstract {
    height: calc(500px + 90vh);
  }

  .mission {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-top: 1px;
  }

  .qualities {
    margin: 12% 0 0 0;
  }

  .about {
    flex-direction: column;
    padding: 40px 5% 0 5%;
  }

  .about h3 {
    padding-bottom: 30px;
  }

  .about p {
    font-size: 1rem;
    text-align: center;
    padding-left: 0px;
  }

  .skills {
    padding: 0 6% 5% 6%;
  }

  .skill-title {
    font-size: 1.3rem;
    padding-bottom: 10%;
  }

  .skill-top p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .skill-btm p {
    font-size: 1.1rem;
  }

  .skill-list {
    font-size: 1rem;
  }

  .contact-box {
    flex-direction: column;
    width: 88%;
    height: 280px;
  }

  .contact-box p {
    width: 70%;
  }

  .contact-box a {
    padding: 1.2vh 4vw;
  }

  .contact-box a:hover {
    background-color: #396ea0;
  }

  .links {
    justify-content: space-around;
    padding: 5vh 20vw 0% 20vw;
  }

  .contact-form {
    background-image: url("contactform2.jpg");
    background-position: 47%;
    height: 700px;
  }

  .contact-fields {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 0;
    width: 85vw;
  }

  .contact-fields h2 {
    font-size: 32px;
    padding-bottom: 10px;
    animation: show 1s ease-in 0s 1 normal;
  }

  .contact-fields div {
    animation: show 2s ease-in 0s 1 normal, slideUp 2s ease-in 0s 1 normal;
  }

  .form-name-field {
    width: 100%;
  }

  .form-email-field {
    width: 100%;
  }

  .btn {
    padding: 1vh 0vw;
    width: 45%;
    align-self: center;
  }

  .form-group {
    padding-top: 10px;
  }

  .form-group label {
    font-size: 18px;
  }
  .form-group input {
    padding-top: 10px;
    font-size: 1rem;
  }

  .form-group textarea {
    padding: 10.2px 15.8px;
    font-size: 1rem;
  }

  .submitHandler {
    grid-column: 1 / span 2;
    grid-row: 6 / span 2;
    background-color: #396ea0;
    border: 1px solid #396ea0;
    border-radius: 3px;
    margin-top: 10px;
    width: 60%;
    height: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Raleway", sans-serif;
    color: #f1f3f4;
  }
}
